main img{
    width: 1349px;
    height: 981px;
}

.box-container
{
    display: flex;
}
.box-container .box1 h1{
    position: absolute;
    width: 221px;
    height: 74px;
    left: 215px;
    top: 64.24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    
}

.btn-container
{
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: absolute;
       left: 210px;
    top: 200px;
}

.GDbtn
{
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #21295C;
    width: 242px;
    padding: 10px;
    height: fit-content;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #21295C;
}

.GDbtn:hover{
color: #FFFFFF; 
background: #07405B;
}

.box-container .box2{
position: absolute;
    left: 600px;
    top: 175px;
    
}

.box-container .box2 h1{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: #21295C;
width: 561px;
    height: 40.78px;
    text-align: center;
}

.box-container .box2 .block1{
    width: 631px;
    height: 95px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #21295C;
margin-top: 65px;
}

.box-container .box2 .block1 .para1
{
    padding: 10px;
}

.box-container .box2 .block2{
display: flex;
gap: 25px;
margin-top: 100px;
}

.box-container .box2 img{
width: 239px;
height: 147.19px;
border: 1px solid #000000;

}

.box-container .box2 .block2 strong{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #21295C;
width: 153px;
height: 20.24px;
position: absolute;
margin-top: 153px;
margin-left: 55px;
}

.box-container .box2 .para2{
width: 367px;
    height: 139.83px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #21295C;
}

.box-container .box2 .block3{
    display: flex;
    gap: 25px;
    margin-top: 100px;
    }

    .box-container .box2 .block3 strong{
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #21295C;
        width: 153px;
        height: 20.24px;
        position: absolute;
        margin-top: 153px;
        margin-left: 448px;
        }