.flex
{
    display: flex;
}

.justify-center
{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.flex-end
{
    justify-content:flex-end;
}

.my-2
{
    margin-left: 30px;
}